.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

body, div, h1, h2, h3, form, input, label, button, ul, li, article {
  margin: 0;
  padding: 0;
}

article {
  width: 100%;
  height: 100%;
  padding: 60px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  gap: 60px;
}

.regTodoWrap {
  width: 400px;
  height: 100%;
}

.regTodoWrap form {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.regTodoWrap label {
  display: block;
  font-size: 30px;
}

.regTodoWrap label:not(:first-child) {
  margin-top: 20px;
}

.regTodoWrap input, textarea {
  width: 100%;
  box-sizing: border-box;
  font-size: 20px;
  border-radius: 0;
  border: 1px solid #ddd;
}

.regTodoWrap input, 
.regTodoWrap textarea:focus {
  outline: none;
}

.regTodoWrap input {
  min-height: 60px;
  padding: 12px;
  box-sizing: border-box;
}

.regTodoWrap textarea {
  resize: none;
  padding: 12px;
  flex-grow: 1;
  box-sizing: border-box;
}

.regTodoWrap .regBtn {
  width: 100%;
  border-radius: 0;
  border: none;
  background-color: #ddd;
  font-size: 26px;
  padding: 4px;
  min-height: 46px;
  margin-top: 20px;
  cursor: pointer;
}


.todoListWrap {
  flex-grow: 1;
  box-shadow: inset 0 0 10px red;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.todoListWrap div {
  width: 100%;
  max-height: 100%;
  overflow: auto;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: inset 0 0 10px blue;
}

.todoListWrap div h2 {
  text-align: center;
  height: 40px;
  background-color: #ddd;
  line-height: 40px;
}

.todoListWrap div ul {
  max-height: calc(100% - 60px);
  overflow: auto;
  margin-top: 20px;
}
