article, div, form, label, input, textarea, button, h1, h2, h3 {
  margin: 0;
  padding: 0;
}

.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.wrap {
  padding: 60px;
  box-sizing: border-box;
}

article {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  gap: 60px;
}

article > div {
  box-sizing: border-box;
}

article .regWrap {
  width: 400px;
}

.regWrap form {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.regWrap label {
  font-weight: bold;
  font-size: 28px;
}

.regWrap label:not(:first-child) {
  margin-top: 20px;
}

.regWrap input, textarea {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ddd;
  font-size: 16px;
}

.regWrap input {
  padding: 10px 12px;
}

.regWrap textarea {
  flex-grow: 1;
  resize: none;
  padding: 10px 12px;
}

.regWrap input:focus, 
.regWrap textarea:focus {
  outline: none;
}

.regWrap .regBtn {
  margin-top: 20px;
  font-size: 28px;
  font-weight: bold;
  padding: 6px 0;
  box-sizing: border-box;
  background-color: #ddd;
  border: none;
  cursor: pointer;
}

.regWrap .stateInput {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  gap: 6px;
}

.stateInput input[type="radio"] {
  appearance: none;
  width: 16px;
  height: 16px;
  padding: 0;
  border-radius: 50%;
  border: 1px solid #ddd;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  position: relative;
}

.stateInput input[type="radio"]::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #ddd;
}

.stateInput .todoInput:checked:before {
  background: #ff0000 url(../img/todo.svg) no-repeat center center;
}

.stateInput .doingInput:checked::before {
  background: #FFA500 url(../img/doing.svg) no-repeat center center;
}

.stateInput .doneInput:checked::before {
  background: #008000 url(../img/done.svg) no-repeat center center;
}

article .listWrap {
  flex-grow: 1;
  display: grid;
  grid-template-areas: 
  "todoList doingList"
  "todoList doneList";
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  border: none;
  height: 100%;
}

.listWrap > div {
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.listWrap h2 {
  text-align: center;
  font-size: 26px;
  padding: 4px 0 5px;
  background-color: #ddd;
}

.listWrap ul {
  flex-grow: 1;
  overflow-y: auto;
}

/* 스크롤 안보이게 처리 */
.listWrap ul::-webkit-scrollbar {
  display: none;
}

.listWrap ul li {
  width: 100%;
  padding: 4px 12px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  position: relative;
  cursor: pointer;
}

.listWrap ul li:not(:first-child) {
  margin-top: 16px;
}

.listWrap ul li h3 {
  font-size: 18px;
  width: fit-content;
}

.listWrap ul li.done h3 {
  color: #ddd;
  text-decoration: line-through #ddd;
}

.listWrap ul li .setBtnWrap {
  box-shadow: inset 0 0 10px black;
  position: absolute;
  width: 62px;
  height: 100%;
  top: 0;
  right: 0;
  display: flex;
}

.setBtnWrap button {
  width: 50%;
  box-sizing: border-box;
  background-color: #fff;
  border: none;
  border-radius: 0;
  border-left: 1px solid #ddd;
  cursor: pointer;
}

.setBtnWrap .editBtn {
  color: #008000;
}

.setBtnWrap .delBtn {
  color: #ff0000;
}



.listWrap .todoList {
  grid-area: todoList;
  border-right: none;
}

.todoList h2 {
  color: #FF0000;
}

.listWrap .doingList {
  grid-area: doingList;
  border-bottom: none;
  overflow-y: auto;
}

.doingList h2 {
  color: #FFA500;
}

.listWrap .doneList {
  grid-area: doneList;
  overflow-y: auto;
}

.doneList h2 {
  color: #008000;
}