article, div, table, tr, td, button, h1, h2, p, strong {
  margin: 0;
  padding: 0;
}

.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.wrap {
  display: flex;
  gap: 60px; 
  padding: 60px;
  box-sizing: border-box;
}

.calculate  {
  min-width: 400px;
  height: 100%;
  padding: 20px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.calculate > div {
  width: 100%;
}

.calculate .prev {
  flex-grow: 1;
  border: 1px solid #ddd;
  overflow-y: auto;
}

.prev ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.prev ul li {
  text-align: right;
  font-size: 24px;
  font-weight: bold;
  padding-right: 20px;
  color: #ddd;
}

.calculate .result {
  min-height: 100px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  text-align: right;
  padding: 0 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.result p {
  color: #ddd;
  font-weight: bold;
  font-size: 20px;
}

.result strong {
  font-weight: bold;
  font-size: 40px;
}

.calcTable table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
  
}

.calcTable table tr {
  width: 100%;
}

.calcTable table tr td {
  border: 1px solid #ddd;
  border-collapse: collpase;
  width: calc(100% / 4);
}

.calcTable table button {
  background-color: #fff;
  border: none;
  width: 100%;
  height: 100%;
  font-weight: bold;
  cursor: pointer;
  font-size: 40px;
}

.calcTable table button:active {
  background-color: #ddd;
}

.translate {
  height: 100%;
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.translate > div {
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-collapse: collapse;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.translate > div:nth-child(odd) {
  border-right: 0;
}

.translate > div:nth-child(3) {
  border-top: 0;
}

.translate > div:nth-child(4) {
  border-top: 0;
}

.translate > div h2 {
  width: 100%;
  background-color: #ddd;
  text-align: center;
  font-size: 26px;
  padding: 7px 0 6px;
}

.transInput {
  margin-top: 20px;
  font-size: 18px;
  width: 100%;
  display: flex;
}

.transInput input {
  padding: 4px 0 4px 12px;
  box-sizing: border-box;
  font-weight: bold;
  flex-grow: 1;
  border: 1px solid #ddd;
  border-right: none;
  border-radius: 0;
}

.transInput input:focus {
  outline: none;
}

.transInput select {
  border-radius: 0;
  border: 1px solid #ddd;
  text-align: right;
  font-weight: bold;
  border-left: none;
}

.transInput select:focus {
  outline: none;
}

.transResult {
  width: 100%;
  height: 100%;
  margin-top: 12px;
  flex-grow: 1;
  overflow-y: auto;
}

.transResult ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px 14px;
}

.transResult label {
  font-size: 10px;
  font-weight: bold;
}

.transResult input {
  width: 100%;
  box-sizing: border-box;
  border-radius: 0;
  border: 1px solid #ddd;
  cursor: default;
  font-size: 16px;
  padding: 6px;
  box-sizing: border-box;
}

.transResult input:focus {
  outline: none;
}
